{% extends 'base.html' %}
{% load markdownify %}

{%block content%}
  <main class="recipe-detail">
    <div>
      <a href="{% url 'mealplans_edit' meal_plan.pk %}">Edit</a>
      <a href="{% url 'mealplans_delete' meal_plan.pk %}">Delete</a>
    </div>
    <h2> recipes for {{meal_plan.name}} {{meal_plan.date}}  </h2>
    {% for x in meal_plan.recipes.all %}
      <h2>    
        <a href="{% url 'recipe_detail' x.pk %}"> {{x.name}}
      </h2>
    {%endfor %} 
  </main>
  {%endblock content%}
    {% comment %} {% if recipe.image %}
      <img src="{{ recipe.image }}" class="pull-right">
    {% endif %}
    <h1>{{ recipe.name }}</h1>
    <h2>by: {{ recipe.author | default_if_none:"Unknown"}}</h2>
    <p>
      Created on {{ recipe.created }} |
      Updated on {{ recipe.updated }}
    </p>
    {% comment %} <form method="post" action="{% url 'recipe_rating' recipe.id %}">
      {% csrf_token %}
      <div class="rating-form-grid">
        {{ rating_form.as_p }}
        <button class="button">Rate</button>
      </div>
    </form> {% endcomment %}
{% comment %}     
    <p>Tags: {% for tag in recipe.tags.all %}{{ tag.name }} {% endfor %}</p>
    {{ recipe.description | markdownify }}
    <h2>Ingredients</h2>
    <table>
      <thead>
        <tr>
          <th colspan="2">Amount</th>
          <th>Food item</th>
        </tr>
      </thead> {% endcomment %}
      {% comment %} <tbody>
        {% for ingredient in recipe.ingredients.all %}
          <tr>
            <td>{{ ingredient.amount }}</td>
            <td>{{ ingredient.measure.name }}</td>
            <td>{{ ingredient.food.name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>Steps</h2>
    <ol>
      {% for step in recipe.steps.all %}
        <li>{{ step.directions }}</li>
      {% endfor %}
    </ol>
  </main>
  {% endblock content%}
</body>

</html> {% endcomment %} 
